.automatic
watchdog.log
.storage
entity_registry.yaml
.project
*.pickle
coogle-recipes
ip_bans.yaml
secrets.yaml
deps
icloud
google_calendars.yaml
home-assistant.db
home-assistant_v2.db
home-assistant.log
home-assistant.db-shm
home-assistant.db-wal
home-assistant_v2.db-shm
home-assistant_v2.db-wal
*.conf
*.sqlite
secrets.yaml
.HA_VERSION
.uuid
known_devices.yaml
kevo
backup
beta
tts
