secrets.yaml
deps
icloud
home-assistant.db
home-assistant_v2.db
home-assistant.log
home-assistant.db-shm
home-assistant.db-wal
*.conf
*.sqlite
secrets.yaml
.HA_VERSION
.uuid
known_devices.yaml
kevo
backup
beta
tts
