homeassistant:
  name: Home
  latitude: !secret home_latitude
  longitude: !secret home_longtiude
  elevation: !secret home_elevation
  unit_system: imperial
  time_zone: America/Detroit
  customize: !include_dir_merge_named customize

frontend:
updater:
history:
logbook: !include ./configuration/logbook.yaml
discovery:
sun:
#logger:

alexa:
  intents: !include_dir_merge_named ./configuration/alexa/intents

camera: !include_dir_merge_list ./configuration/cameras

alert: !include_dir_merge_named ./configuration/alerts
recorder: !include ./configuration/recorder.yaml
http: !include ./configuration/http.yaml
ecobee: !include ./configuration/ecobee.yaml
tts: !include ./configuration/tts.yaml
device_tracker: !include ./configuration/device_tracker.yaml
twilio: !include ./configuration/twilio.yaml
group: !include_dir_merge_named ./configuration/groups
switch: !include_dir_merge_list ./configuration/switches
sensor: !include_dir_merge_list ./configuration/sensors
mqtt: !include ./configuration/mqtt.yaml
automation: !include automations.yaml
light: !include ./configuration/light.yaml
remote: !include ./configuration/remote.yaml
shell_command: !include_dir_merge_named ./configuration/shell_cmds
emulated_hue: !include ./configuration/emulated-hue.yaml
binary_sensor: !include_dir_merge_list ./configuration/binary-sensors
input_boolean: !include_dir_merge_named ./configuration/inputs/booleans
input_slider: !include_dir_merge_named ./configuration/inputs/sliders
notify: !include_dir_merge_list ./configuration/notifications
script: !include_dir_merge_named ./configuration/scripts

config:

zone:
  name: Bayley's Office
  latitude: !secret office_latitude
  longitude: !secret office_longitude
  radius: 500
  
zone 2:
  name: Authority Office
  latitude: !secret office2_latitude
  longitude: !secret office2_longitude
  radius: 500

zone 3:
  name: Scottish Rite Valley of Detroit
  latitude: !secret valley_latitude
  longitude: !secret valley_longitude
  radius: 500
  
zone 4:
  name: Meijer (Royal Oak)
  latitude: !secret meijer_ro_latitude
  longitude: !secret meijer_ro_longitude
  radius: 500
  
zone 5:
  name: Meijer (Southfield)
  latitude: !secret meijer_sf_latitude
  longitude: !secret meijer_sf_longitude