homeassistant:
  name: Home
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  elevation: !secret home_elevation
  unit_system: imperial
  time_zone: America/Detroit
  customize: !include_dir_merge_named customize

ffmpeg:
  ffmpeg_bin: /usr/bin/avconv

frontend:
  javascript_version: latest
updater:
scene: !include_dir_merge_list ./configuration/scenes
history:
logbook: !include ./configuration/logbook.yaml
discovery:
cover: !include_dir_merge_list ./configuration/covers
sun:
wemo:
logger:
  default: info
#  logs:
#    aioautomatic: debug

alexa:
  intents: !include_dir_merge_named ./configuration/alexa/intents

weblink: 
  entities: !include ./configuration/weblinks.yaml
  
camera: !include_dir_merge_list ./configuration/cameras

alert: !include_dir_merge_named ./configuration/alerts
recorder: !include ./configuration/recorder.yaml
http: !include ./configuration/http.yaml
ecobee: !include ./configuration/ecobee.yaml
tts: !include ./configuration/tts.yaml
device_tracker: !include ./configuration/device_tracker.yaml
twilio: !include ./configuration/twilio.yaml
group: !include_dir_merge_named ./configuration/groups
switch: !include_dir_merge_list ./configuration/switches
sensor: !include_dir_merge_list ./configuration/sensors
mqtt: !include ./configuration/mqtt.yaml
automation: !include_dir_merge_list ./automation
light: !include_dir_merge_list ./configuration/lights
remote: !include ./configuration/remote.yaml
shell_command: !include_dir_merge_named ./configuration/shell_cmds
#emulated_hue: !include ./configuration/emulated-hue.yaml
binary_sensor: !include_dir_merge_list ./configuration/binary-sensors

input_boolean: !include_dir_merge_named ./configuration/inputs/booleans
input_number: !include_dir_merge_named ./configuration/inputs/numbers
input_text: !include_dir_merge_named ./configuration/inputs/text
input_select: !include_dir_merge_named ./configuration/inputs/select

ring:
  username: !secret ring_username
  password: !secret ring_password

map:

feedreader: !include ./configuration/feedreader.yaml

notify: !include_dir_merge_list ./configuration/notifications
script: !include_dir_merge_named ./configuration/scripts

config:

counter: !include_dir_merge_named ./configuration/counters

zone:
  name: Bayley's Office
  latitude: !secret office_latitude
  longitude: !secret office_longitude
  radius: 500
  
zone 2:
  name: Authority Office
  latitude: !secret office2_latitude
  longitude: !secret office2_longitude
  radius: 500

zone 3:
  name: Scottish Rite Valley of Detroit
  latitude: !secret valley_latitude
  longitude: !secret valley_longitude
  radius: 500
  
zone 4:
  name: Meijer (Royal Oak)
  latitude: !secret meijer_ro_latitude
  longitude: !secret meijer_ro_longitude
  radius: 500
  
zone 5:
  name: Meijer (Southfield)
  latitude: !secret meijer_sf_latitude
  longitude: !secret meijer_sf_longitude
  
zone 6:
  name: Physical Therapy
  latitude: !secret physical_therapy_latitude
  longitude: !secret physical_thearpy_longitude
  
zone 7:
  name: Kristen's House
  latitude: !secret kristens_house_latitude
  longitude: !secret kristens_house_longitude
  
